.About {
    .Container {
        display: flex;
        justify-content: space-between;
        text-align: center;
        .Div1 {
            width: 50%;
            .Img {
                max-width: 100%;
                }
            }
        .Div2 {
            width: 45%;
            }
        }
}